@media (min-width: 992px) {
	.margin-m{
		margin-top: 20px;
	}
	.fw{
		font-weight: 500;
	}
	.text-nav{
		color: white !important;
	}
	.nav-link{
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		margin: 0 10px;
	}
	.active{
		border-bottom: 1px solid white;
		margin-bottom: -2px;
	}
	.nav-link:hover{
		border-bottom: 1px solid white;
		margin-bottom: -2px;
	}
	.jumbotron{
		padding: 4rem 2rem 2rem 2rem;
		margin-bottom: 2rem;
		background-image: url("../img/pict5.jpg");
		background-position: 0% 20%;
		background-size: cover;
		margin-top: -80px;
    }
    .text-jumbotron{
    	text-align: left;
    	margin-top: 350px;
    	font-size: 100px;
    	font-weight: bold;
    }
    .col-sm-4 h1{
    	margin-top: 165px;
    	width: 250px;
    	font-size: 25px;
    	font-weight: 700;
    }
    .col-sm-4 p{
    	margin-top: 150px;
    }
    .col-sm-8 img{
    	margin-top: 100px;
    	width: 710px;
    	height: 278px;
    }
    .col-sm-4 img{
    	margin-top: 100px;
    }
    .col-sm-8 img, .col-sm-4 img{
    	margin-bottom: 30px;
    }
    .cont-foot{
    	margin-top: 150px;
		background-color: black;
	}
	.col-sm-6{
		color: white;
	}
	.col-sm-6 h4{
		margin-top: 100px;
	}
	.col-sm-6 p{
		margin-top: 100px;
	}
	.foot-left{
		width: 245px;
		text-align: right;
		margin-left: auto;
	}
}
@media (max-width: 576px) {
	.navbar-toggler:focus,
	.navbar-toggler:active,
	.navbar-toggler-icon:focus {
	    outline: none;
	    box-shadow: none;
	}
	.btn-close :focus,
	.btn-close :active,
	.btn-close :focus {
	    outline: none;
	    box-shadow: none;
	}
	.navbar span i{
		color: #fff;
		font-size: 25px;
	}
	.margin-m{
		margin-top: 30px;
	}
	.nav-link{
		color: black !important;
	}
	.nav-content{
		margin-top: 30px;
		margin-bottom: 30px;
		transition: 0.3s;
		border-radius: 20px;

	}
	.nav-content-1{
		margin-bottom: 30px;
		transition: 0.3s;
		border-radius: 20px;

	}
	.nav-content:hover{
		background-color: black;
		border-radius: 20px;
		color: white !important;
	}
	.nav-content-1:hover{
		background-color: black;
		border-radius: 20px;
		color: white !important;
	}
	.fw{
		color: white !important;
		font-weight: 600;
	}
	.jumbotron-m{
		padding: 4rem 2rem 4rem 0rem;
		margin-bottom: 2rem;
		background-image: url("../img/pict5.jpg");
		background-size: cover;
		margin-top: -90px;
    }
    .text-jumbotron{
    	text-align: left;
    	margin-top: 150px;
    	font-size: 50px;
    	font-weight: bold;
    	margin-left: 20px;
    }
    .col-sm-4 h1{
    	margin-top: 30px;
    	font-size: 18px;
    	font-weight: 600;
    }
    .col-sm-4 p{
    	margin-top: 30px;
    	font-size: 15px;
    }
    .col-sm-8 img{
    	width: 336px;
    	height: 155px;
    	margin-top: 40px;
    }
    .col-sm-4 img{
    	margin-top: 20px;
    	margin-bottom: 50px;
    }
    .cont-foot{
		background-color: black;
		margin-top: 40px;
	}
	.foot-left{
		width: 140px;
		margin-left: auto;
	}
	.foot-row{
		color: white;
	}
	.foot-row{
		font-size: 13px;
		font-weight: 400;
	}
	.col-sm-6 h4{
		margin-top: 60px;
	}
}